/*stylesheet*/

h1 {
	font-size: 48px;
	margin-bottom: 2rem;
	text-align: center;
	color: lightpink;
}

h1.alternate{
color: mediumpurple;
font-family: sans-serif;
font-size: 28px;
}

p {
	font-size: 16px;
	font-family: sans-serif;
	margin-bottom: 1rem;
}

a {
	font-weight: 800;
	color: lightblue;
}

a:hover{
	text-decoration: none;
}

img.veggie{
	width: 100%;
	height: auto;
}

body {

}

.tiny {
	font-size: .5rem;
}

#site-title{
	text-align: center;
	margin-bottom: 2rem;
	font-size: 50px;
}

